name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  MIX_ENV: test

jobs:
  build:

    name:    Build and Test OTP ${{ matrix.otp }} / Elixir ${{ matrix.elixir }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: 1.9.4
            otp:    20.3
          - elixir: 1.10.4
            otp:    21.3
          - elixir: 1.11.4
            otp:    22.3
          - elixir: 1.12.3
            otp:    23.3
          - elixir: 1.13.3
            otp:    24.2

    steps:
    - uses: actions/checkout@v2

    - name: Set up Elixir
      uses: erlef/setup-beam@v1.10.0
      with:
        elixir-version: ${{ matrix.elixir }}
        otp-version:    ${{ matrix.otp }}

    - name: Restore dependencies cache
      uses: actions/cache@v2
      with:
        path:         deps
        key:          ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-mix-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-mix-

    - name: Install dependencies
      run: mix deps.get

    - name: Run tests
      run: mix test
